.spinner {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #fff;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-container {
    display: inline-block;
    width: 28px;
    height: 28px;
    position: relative;
}
