.spinner {
    display: grid;
    place-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, rgba(82, 0, 255, 0) 0deg, #5200ff 360deg);
    animation: spin 2s infinite linear;
}
.spinner::before {
    content: '';
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #000;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
